{% extends "account/base.html" %} {% block head_title %}{% endblock %} {% block common_scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
  // Load jquery straight from the cdn for this page.
  $(function() {
    // We need some mappings for Providers names from AllAuth to the icon class names.
    $('.btn-facebook').addClass('btn-facebook');
    $('.btn-linkedin_oauth2').addClass('btn-linkedin');
    $('.fa-linkedin_oauth2').addClass('fa-linkedin');
    $('#id_login').addClass('form-control').removeAttr('autofocus').blur();
    $('#id_password').addClass('form-control');
  });
</script>

<style>
  
body{
    

    background: #fd746c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fd746c , #ff9068); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fd746c , #ff9068); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
  }  
</style>
{% endblock %} {% block content %}
{% load crispy_forms_tags %}


<div id="container1" class="container col-md-3 col-md-offset-6">
<h1> Signup </h1>

 
      <hr>

      <form class="django-login" method="POST" >
        {% csrf_token %} {% if form.non_field_errors %}
        <div class="alert alert-warning">
          <ul class="alert-message">
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {{form | crispy}}
        <hr>
         <div class="btn-div pull-center">
          <button class="btn btn-primary btn-block" type="submit" >Sign Up</button>
        </div>
        <hr>
      </form>
    </div>
{% endblock %}

